/*=========== TABLE OF CONTENTS ===========
1.  General css (Reset code)
2.  Welcome
3.  Model-search
4.  Service
5.  New-cars
6.  Featured-cars
7.  Client-say
8.  Brand
9. Blog
10. Contact
==========================================*/

/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #818998;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 5em;
    top: 0px;
    background-color: rgb(21, 19, 19);
    margin-top: 0px;
    width: 100%;
    z-index: +1;
}

/*-------------------------------------
        2. Navbar brand (logo)
--------------------------------------*/
.navbar-brand img {
    width: 66px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    display: inline-block;
    position: absolute;
    left: 2em;
    top: 0.5rem;
    padding: 0px 0px;
}

/*-------------------------------------
        3. Navbar menu(links)
---------------------------------------
         Horizontal Navigation 
--------------------------------------*/
/* Center the menubar */


.menubar {
    display: flex;
    justify-content: right;
    flex-grow: 1;
}

/* Horizontal Navigation */
.navlinks {
    font-size: 1em;
    font-weight: 500;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navlinks li {
    margin-right: 1em;
    position: relative;
    left: -1em;
}

.navlinks li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 1.4rem;
}

.navlinks li.active a {
    color: #ce6565;
}

.navlinks li a:hover {
    color: #ce6565;
}

/* Toggle Button */
.navbar-toggle {
    align-items: center;
    display: none;
    font-size: 2em;
    background: #17181a;
    border: 2px solid whitesmoke;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-toggle:hover {
    color: #007bff;
}

/*------------------------------------------
      Responsive Styles
--------------------------------------------
      Vertical Navigation 
-------------------------------------------- */
/* Responsive Styles */

@media (max-width: 998px) {
    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 998px) {
    .menubar {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        /* background-color: #fff; */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .navlinks {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .navlinks li {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .navbar-toggle {
        display: block;
    }

    .menubar.show {
        display: block;
    }
}

/*-------------------------------------
        3.  Welcome-Page
--------------------------------------*/
.welcome {
    position: relative;
    background: url(bg.png)no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

/*-------------------------------------
        3.  Welcome-text
--------------------------------------*/
.welcome-txt:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.welcome-txt {
    text-align: center;
    padding:  130px 20px 90px;
}

.welcome-txt h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.6em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: .4em;
}

.welcome-txt p {
    padding: 0 20px 0;
    font-size: 1.5em;
    text-transform: initial;
    color: #fff;
    max-width: 80rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .loginbtn {
    font-size: 28px;
    font-weight: 190;
    display: inline-block;
    width: 15rem;
    height: 5.5rem;
    background: #0c0c0f;
    color: #a02727;
    border-radius: .5em;
    margin-top: 2.2em;
    cursor: pointer;
}

.loginbtn:hover{
    background: black;
    color: white;
} */
.login {
    color: white;
    background-color: black;
    width: 60%;
    border: 1px solid white;
    border-radius: 6px;
    margin: 8px auto;
    padding: 6px;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-family: sans-serif;
}

.login:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.667);
}




/*-------------------------------------
        4. Model-Search
--------------------------------------*/
/* .model-search-content .col-sm-12 {
    padding: 0;
}

.model-search-content {
    padding: 40px 0;
    background: #fff;
    box-shadow: 0 10px 40px 0px rgba(38, 40, 64, .2);
    position: absolute;
    bottom: -150px;
    height: 25%;
    width: 100%;
    border-radius: 3px;
}

/*.single-model-search
.single-model-search {
    margin-bottom: 30px;
}

.single-model-search:last-child {
    margin-bottom: 0;
}

.single-model-search h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}

/*model-select-icon
.model-select-icon {
    position: relative;
}

.model-select-icon .form-control {
    outline: 0 !important;
    box-shadow: none;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    height: 60px;
}

.model-select-icon select {
    font-size: 16px;
    color: #888f9d;
    text-transform: capitalize;
}

.model-select-icon:after {
    position: absolute;
    content: "\f103";
    right: 0px;
    top: 0;
    font-size: 10px;
    color: #888f9d;
    background: #f9f8f8;
    height: 60px;
    line-height: 60px;
    width: 50px;
    text-align: center;
    font-family: "Flaticon";
    pointer-events: none;
    border: transparent;
}

/*model-select-icon*
.welcome-btn.model-search-btn {
    width: 160px;
    margin-top: 80px;
    margin-left: 53px;
}

/* .single-model-search*/






/* ------------------------------------- 
        5. Service 
--------------------------------------
.service {
    padding: 260px 0 87px;
}

.single-service-item {
    text-align: center;
    padding: 55px 30px 60px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: 1px solid #dadfe9;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-service-icon {
    display: inline-block;
    color: #50616c;
}

.single-service-item h2 a {
    font-size: 20px;
    margin: 35px 0 20px;
}

.single-service-item h2 a span {
    text-transform: lowercase;
}

.single-service-item p {
    padding-bottom: 35px;
    text-transform: initial;
    position: relative;
}

.single-service-item p:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #3030ea;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}

.single-service-icon [class^="flaticon-"]:before,
.single-service-icon[class*=" flaticon-"]:before,
.single-service-icon [class^="flaticon-"]:after,
.single-service-icon [class*=" flaticon-"]:after {
    font-size: 60px;
}

.single-service-item:hover .single-service-icon [class^="flaticon-"]:before,
.single-service-item:hover .single-service-icon [class*=" flaticon-"]:before,
.single-service-item:hover .single-service-icon [class^="flaticon-"]:after,
.single-service-item:hover .single-service-icon [class*=" flaticon-"]:after {
    color: #fff;
}


.single-service-item:hover h2 a,
.single-service-item:hover p {
    color: #fff;
}

.single-service-item:hover p:before {
    background: #fff;
}

.single-service-item:hover {
    box-shadow: 0 12px 30px 0px rgba(0, 1, 193, .2);
    background: #4e4ffa;
    border: 1px solid #4e4ffa;
} */





.registerform {
    backdrop-filter: blur(7px);
    border: 1px solid white;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    margin: 20px auto;
    padding: 30px;
    width: 45%;
    border-radius: 60px;
    z-index: -1;
}

.registerform h1 {
    font-size: 3em;
    font-family: 'Helvetica Neue';
    text-align: center;
    color: #ffff;
    /* text-overflow: 2px black; */
    text-shadow: 4px 4px 4px rgb(0, 0, 0),
        4px 4px 4px rgb(0, 0, 0);
}

.formentries input {
    font-size: 18px;
    display: block;
    width: 60%;
    text-align: center;
    margin: 8px auto;
    padding: 4px;
    border-radius: 6px;
}

.registerform button {
    color: white;
    background-color: black;
    width: 60%;
    border: 1px solid white;
    border-radius: 6px;
    margin: 8px auto;
    padding: 6px;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-family: sans-serif;
}

.registerform button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.667);
}